.bg {
    margin: 0; padding: 0;
    background: url("../images/baltimore_bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
}

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

#signin {
    position: absolute;
    max-width: 350px;
    height: 260px;
    margin: auto;
    border-radius: 2px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
    box-sizing: border-box;
    background: white;
}

#signin .title {
    color: #418040;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

form {
    width: 100%;
}

input {
    width: 100%;
    padding: 12px;
    font-size: 14px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 2px;
}

input[type="submit"] {
    -webkit-appearance: none;
    background: #418040;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}
