.grid-inner {
    padding: 10px;
    overflow: hidden;
}

#splash {
    background-image: url(../images/baltimore_bg.jpg);
}

#mapContainer {
    height: 575px;
    position:relative;
}

#map {
    height: 100%;
    position: relative;
}

.location {
    width: 25%;
    overflow: hidden;
    padding: 5px;
    box-sizing: border-box;
    position relative;
    float: left;
    transform: scale(1);
    transition: all 0.25s ease;
}

.location:hover {
    transform: scale(1.01);
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.35);
    cursor: pointer;
    z-index: 3;
}

.location .grid-item {
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
}

.location_image {
    height: 200px;
    width: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 2px;
}

.location .location_desc {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.25);
    color: white;
    padding: 5px 5px;
    box-sizing: border-box;
    -webkit-font-smoothing: subpixel-antialiased;
}

.location .location_desc .address {
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.location .location_desc .features {
    font-size: 12px;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
}

.location .grid-item .ideas_count {
    background: #ffae00;
    color: white;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 5px;
    top: 5px;
    font-weight: 700;
    border-radius: 50%;
    padding: 5px 0px 0px 11px;
    box-sizing: border-box;
    box-shadow: -2px 0px 5px 0px rgba(0, 0, 0, 0.35);
    font-size: 14px;
    -webkit-font-smoothing: subpixel-antialiased;
}

#pagination {
    float: right;
    text-align: right;
}

#pagination ul {
    padding-left: 0;
    margin: 0;
}

#pagination ul li {
    display: inline-block;
    margin-right: 6px;
}

#pagination ul li a {
    text-decoration: none;
    font-size: 14px;
    color: #418040;
}

.info {
  position: relative;
  padding: 75px 0px;
  width: 100%;
  color: white;
  font-size: 20px;
  background: #418040; /* Old browsers */
  background: -moz-linear-gradient(top, #418040 0%, #376837 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #418040 0%,#376837 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #418040 0%,#376837 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.imgViewer {
  width: 100%;
  height: 25em;
  background-color: #fbffdf;
  background-repeat: repeat;
  background-position: left;
}

td {
  padding: 1.5em;
}

ul{
  list-style-position: inside;
}

.name{
  text-indent:900px;
  font-family: "New Courier", Courier, monospace;
  font-size: 50px;
  border-bottom: 2px solid black;
}

.generalInfo{
  float:left;
  padding-left: 50px;
  padding-right: 20px;
  display: block;
  width: 45%;
  color: white;
  font-size: 20px;
}

.specInfo{
  float: right;
  display: block;
  padding-left: 50px;
  padding-right: 20px;
  width:45%;
  color: white;
  font-size: 20px;
}

.description{
  float: left;
  padding-right: 20px;
  text-align: center;
  display: block;
  width: 100%;
}
